@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{ 
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
h1 ,h2, h3, h4,  h5, p{
  font-weight: normal;
  color: #171039;
} 